{% extends 'photos/base.html' %}

{% block style %}
{% endblock %}

{% block content %}
<h2 class="text-center text-primary">
    Welcome to the Gallery
</h2>
    {% if images %}
        <div class="container">
            <div class="row">
                {% for image in images %}
                <!-- <div class="col-md-4">
                    <p>{{ image.name }}</p>
                    <p>{{ image.location}}</p>
                    <img src="{{image.image.url}}" alt="{{image.name}}" height="250" width="100%" title="{{image.name}}">
                </div> -->
                    <div class="col-sm-4">
                      <div class="card mt-4 bg-light">
                        <img src="{{image.image.url}}" alt="{{image.name}}" height="250" width="100%" title="{{image.name}}">
                        <div class="card-body">
                            <mark>{{ image.name }}</mark>
                            <p>Location: <small>{{ image.location}}</small></p>
                            <p>Category: <small>{{ image.category}}</small></p>
                            <a href="#">Copy Link</a>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}


